@import "../../config/variables.scss";

.login-page {
  background: $whitef5f7fa;
  .container-big {
    padding: 70px 15px;
    @include xsm {
      padding: 50px 15px;
    }
    @include sm {
      padding: 50px 15px;
    }
    @include md {
      padding: 60px 15px;
    }
  }
}
