@import "../../config/variables.scss";

.sign-up-block {
  max-width: 390px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: $white;
  .sign-container {
    .sign-header {
      padding: 25px 30px 0;
      @include xsm {
        padding: 25px 20px 0;
      }
      .title {
        font-size: 20px;
        text-align: center;
        font-weight: $semibold;
        margin-bottom: 0;
      }
    }
    .sign-content {
      padding: 25px 30px;
      text-align: center;
      @include xsm {
        padding: 25px 20px 25px;
      }
      form {
        margin-bottom: 10px;
        .input-box-group {
          margin-bottom: 15px;
          .input-box {
            margin-bottom: 10px;
            input {
              height: 45px;
              border: 1px solid $grayddd;
              border-radius: 6px;
              background: none;
              @include xsm {
                height: 35px;
              }
              @include sm {
                height: 40px;
              }
              @include md {
                height: 40px;
              }
            }
          }
        }
        .btn {
          color: $white;
          background: $orange;
          width: 100%;
          height: 45px;
          line-height: 45px;
          font-size: 16px;
          font-weight: 600;
          border-radius: 6px;
          border: 0;
          @include xsm {
            height: 35px;
            line-height: 35px;
            font-size: 14px;
          }
          @include sm {
            height: 40px;
            line-height: 40px;
            font-size: 15px;
          }
          @include md {
            height: 40px;
            line-height: 40px;
            font-size: 15px;
          }
          &:hover {
            background: $hovere05613;
          }
        }
      }
      .forgot-password {
        color: $blue;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
