@import "../../config/variables.scss";
@import "../../config/mixin.scss";

.MuiTooltip-popper {
  display: none;
  @include laptop1024_1279 {
    display: block;
  }
}
.sidebar {
  height: calc(100vh - 65px);
  min-height: 650px;
  max-width: 260px;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 10px 15px 0;
  background: $white;
  border-radius: 0px 0px 30px 0px;
  @include lg {
    max-width: 230px;
  }
  @include laptop1024_1279 {
    max-width: 80px;
    padding: 10px;
  }
  .copyright-link {
    position: absolute;
    width: 100%;
    bottom: 25px;
    left: 0;
    color: $grayA2A2A2;
    font-size: 12px;
    text-align: center;
    @include laptop1024_1279 {
      display: none;
    }
    a {
      color: $grayA2A2A2;
      transition: $transDefault;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .links-block {
    padding: 0 0 20px 0;
    border-bottom: 1px solid $grayddd;
    &:last-child {
      padding: 20px 0;
      border-bottom: none;
    }
    ul {
      margin: 0;
      li {
        width: 100%;
        margin: 0 0 6px 0;
        padding: 0;
        &:last-child {
          margin: 0;
        }
        &::before {
          display: none;
        }
        a {
          display: flex;
          align-items: center;
          font-size: 14px;
          color: $gray62646a;
          text-decoration: none;
          margin: 0;
          padding: 10px 15px;
          border-radius: 8px;
          line-height: 1;
          transition: $transDefault;
          @include laptop1024_1279 {
            padding: 8px 10px;
            justify-content: center;
          }
          .icon {
            font-size: 20px;
            margin: 0 10px 0 0;
            color: $gray62646a;
            transition: $transDefault;
            @include laptop1024_1279 {
              margin: 0;
            }
          }
          &:hover .icon {
            color: $orangef16521;
          }

          &:hover {
            color: $orangef16521;
            background: $orangefff0e2;
          }
          span {
            margin: 0;
            @include laptop1024_1279 {
              display: none;
            }
          }
        }
        a.active {
          background: $orangefff0e2;
          border-radius: 8px;
          font-weight: $medium;
          color: $orangef16521;
          @include laptop1024_1279 {
            border-radius: 6px;
          }
          .icon {
            font-size: 20px;
            color: $orangef16521;
          }
        }
      }
    }
  }
}
